<%- include('header'); %>

<br  />
<br  />
<h1>Contact Us</h1>
<br>

<form method="post" action=mailto:rsimonzi@hotmail.com enctype="text/plain">
<label>Your Name:</label>
<br />
<input type="text" name="" value=""></input>
<br>
<label>Your Email: </label>
<br />
<input type="email" name="" value=""></input>
<br>
<label>Your Message:</label>
<br />
<textarea name="name" rows="8" cols="80"></textarea>
<br />
<button type="submit" name="button">Submit</button>
</form>

<%- include('footer'); %>
