<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/5bd83228e9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/lessons.css">
  <title>Lesson </title>
</head>

<body>

  document.addEventListener("keypress", respondToKey(event));

  function respondToKey (event) {
    console.log("A key was pressed");
  }

  <a href="https://www.w3schools.com">This is a link</a>

function BellBoy (name, age, hasWorkPermit, languages) = {
    this.name: name,
    this.age: age,
    this.hasWorkPermit: hasWorkPermit,
    this.languages: languages,
    this.moveSuitcase: function () {
      alert("May I take your suitcase");
      pickUpSuitcase();
      move();
    }
  }
