<%- include('header') -%>

<h4>第一页 | dìyīyè | Page 1</h4>

<br />
<h3><%= chapter %></h3>
<h3><%= lesson %></h3>
<br />


<p class="list">你 好 李 王 太 先 生 是 北 京 东 去 在 吗 我 </p>

<br />
<p>李太太: 你好!</p>
<p>王先生: 你好!</p>
<p>李太太: 我是李太太。</p>
<p>王先生: 我是王太太。</p>
<p>李太太: 你好王先生。</p>
<p>王先生: 你好李太太。</p>
<p>李太太：你去北京吗。</p>
<p>王先生: 我去北京。 我在东京。</p>

<%- include('footer') -%>
