<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5bd83228e9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/tategaki.css">
  <title></title>
</head>

<body>

<h5>这是我的朋友。</h5>
<h5>他叫老李</h5>
<h5>老李在苹果公司工作。</h5>

<%- include('footer'); %>
